.app-header {
  // background-color: var(--clr1);
  // color: var(--clr1bg);
  border-radius: 1000px;
  background: #CFEBF5;
  margin: 0 64px 16px 64px;
  padding: 1rem 4em;
  max-height: 65px;
}

.app-header .logo {
  width: 50px;
}

.app-header-actions, .app-header-loggedin {
  gap: 8px;
}

.app-nav {
    gap: 15px;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}


.avatar-container {
  background-color: white;
  border-radius: 10000px;
  // padding: 2px;
  padding-right: 16px;
}

.avatar-container p {
  color: #3a3a3a;
  padding: 8px;
}