.app-header {
  background: #fff;
  padding: 1rem 4em;
  position: relative;
  max-height: 65px;

  .active {
    color: rgb(255, 166, 0);
    font-weight: 600;
  }

  .btn-login {
    @include button-style('text', 'medium', 'secondary');
  }

  .btn-register {
    @include button-style('contained', 'medium', 'secondary');
  }
}

.app-header .logo {
  width: 250px;
  position: relative;
  top: 16px;
}

.app-header-actions,
.app-header-loggedin {
  gap: 8px;
}

.app-nav {
  gap: 15px;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}