.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 0 4em;
  max-height: 65px;
}

.app-header .logo {
  width: 50px;
}

.app-header-actions, .app-header-loggedin {
  gap: 8px;
}

.app-nav {
    gap: 15px;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}
