
.main-layout {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  grid-auto-rows: auto 1fr;
  /* height: 100dvh; */
}

.main-layout > :not(.full) {
  grid-column: 2;
}

.main-layout *.full {
  grid-column: 1 / -1;
}


/* TOYS LAYOUT */
.toy-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


/* FOOTER LAYOUT */
footer {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  text-align: center;
}


