.toy-preview {
  background-color: white;

  padding: 16px;
  /* width: 156px; */
  /* height: 156px; */

  border-radius: 16px;
  // border: 1px solid #3a3a3a41;

  p {
    text-align: center;
    padding: 8px;
  }

  h4 {
    padding: 8px;
    text-align: center;
    color: #39557C;
  }
  .add-to-cart {
    @include button-style('contained', 'medium', 'primary');
    border-radius: 50px;
    box-shadow: 0px -8px 0 0 #D30534 inset;
    font-weight: 500;
    &:hover {
      background-color: #D30534;
      box-shadow: 0px -8px 0 0 #AE072D inset;

    }
  }
}

.toy-actions {
  gap: 8px;
}

.toy-filter form {
  gap: 8px;
}