.admin-aside {
  background-color: white;
  .active {
    background-color: rgba(255, 166, 0, 0.342);
    font-weight: 600;
    color: #3a3a3a
  }
}

.admin-logo {
  border-bottom: 1px solid #3a3a3a20;
}