
.category-card-wrapper {
  // background-color: red;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  position: relative;
  margin-top: rem(-96px);
  z-index: 10000 !important;
  // display: flex;
  // justify-content: center;
  gap: 8px;
  padding: 0 16px;
  .category-card {
    background-color: white;
    padding: 8px;
    border-radius: 8px;

    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}


.image-slider-container {
  margin-top: 16px;
  // height: 500px;

  .slick-dots {
    margin-bottom: 128px;
  }
  .slick-next {
    margin-right: 48px;
  }

  .slick-prev {
    margin-left: 48px;
    z-index: 1;
  }
  .image-slider {
    padding: 8px;
    
    img {
      border-radius: 24px;
    }
  }
  @media screen and (max-width: 768px) {
    .slick-dots {
      margin-bottom: rem(48px);
    }
  }
}


.category-links-wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 150px));
  text-align: center;
  justify-content: center;
  align-items: baseline;
  padding: 16px;
  // width: rem(1420px);
  max-width: 100%;
  gap: rem(16px);
  .category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16px);
    h4 {
      color: #39557c;
      font-size: rem(20px);
      line-height: rem(25px);
    }
  }
  @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25px, rem(100px)));
      justify-content: center;
      .category-card {
        text-align: center;
        h4 {
          font-size: 16px;
          font-weight: 500;
        }
      }
      // align-items: center;
  }
}

// .popular-product-slider {
//   &::before {
//     content: ''; /* Add this line to generate the pseudo-element */
//     background-image: url('../../../img/categories/blue-stars.png');
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%; /* Adjust width as needed */
//     height: 100%; /* Adjust height as needed */
//     z-index: -1; /* Send the pseudo-element to the back */
//   }
// }
